.loading {
  z-index: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  text-align: center;

  min-height: 100%;
  min-width: 100%;

  overflow: hidden;
}

.text {
  padding-top: calc(100vh/2 - 50px);
  display: flex;
  align-items: center;
  font-family: sans-serif;
  color: #17ff00;
  display: inline-block;
  margin-left: 5px;
}


.loader-blinker {
  padding-top: 3px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 2px;
  background-color: rgba();
  animation: loaderblinker 1s infinite;
}

@keyframes loaderblinker {
  0%   {background-color: rgb(23, 255, 0);}
  50%   {background-color: transparent;}
  100%   {background-color: rgb(23, 255, 0);}
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: louis-external;
  src: url('fonts/louis-georgecafe-bold.ttf');
}

@font-face {
  font-family: rust-external;
  src: url('fonts/rust.ttf');
}

.font-rust { font-family: rust-external;}
.font-louis { font-family: louis-external;}

body {
	transition: background-color 600ms linear 1s;

	background-color: #1fb1ff;
	animation: clr-shift 5s infinite;
}

@keyframes clr-shift {
	0%   {background-color: #25b3ff}
	20%  {background-color: #1fc2ff}
	40%  {background-color: #1f99ff}
	60%  {background-color: #1f7bff}
	80% {background-color: #4793ff}
	80% {background-color: #1fb1ff}
}

header {
  padding-top: 50px;
}

details {
  font-family: rust-external;
}

ul {
  list-style: none;
}

hr { color: #434343; }

.code-wrapper {
  max-width: calc(100vw - 100px)
}

.sm{ margin: 20px 0; }
.sm .link{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;

  border-radius: 50%;
  text-decoration: none;
  background-color: #434343;

  box-shadow:
      0 1px 12px rgba(0, 0, 0, 0.8),
      0 1px 10px rgba(0, 0, 0, 0.9),
      0 1px 8px rgba(0, 0, 0, 1);

  color: #ffffff;
  font-size: 30px;
  transition: 0.2s linear;
}

.sm a { font-size: 30px; color: #ffffff; text-decoration: none; font-family: rust-external; }

.sm .github{ color: #ffffff; background-color: #000000; }
.sm .youtube{ color: #ffffff; background-color: #ff0a0a; }
.sm .email{ color: #ffffff; background-color: #00236e; }
.sm .instagram{ color: #ffffff; background-color: #ff2255; }
.sm .telegram{ color: #ffffff; background-color: #00dbff; }

.sm .github:hover{ color: #000000; background-color: #ffffff; transform: scale(1.5); }
.sm .youtube:hover{ color: #ff0a0a; background-color: #ffffff; transform: scale(1.5); }
.sm .email:hover{ color: #00236e; background-color: #ffffff; transform: scale(1.5); }
.sm .instagram:hover{ color: #ff2255; background-color: #ffffff; transform: scale(1.5); }
.sm .telegram:hover{ color: #00dbff; background-color: #ffffff; transform: scale(1.5); }

/* .sm a:not(:hover) {
 filter: blur(50%);
 color: transparent;
 text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
*/

.wrapper {
  cursor: default;
  padding: 0px 0px 20px 0px;
  text-align: center;

  min-height: 100vh;
/*  min-height: Calc(100vh - 50px);*/ /* works but doesn't support internet exp... */
}

.blinker {
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  background-color: rgba();
  animation: blink 1s infinite;
}

@keyframes blink {
  0%   {background-color: rgb(23, 255, 0);}
  50%   {background-color: transparent;}
  100%   {background-color: rgb(23, 255, 0);}
}


.aboutme span {
  cursor: default;
  transition: all 0.2s ease-in-out;
  font-family: louis-external;
  padding: 5px 5px 5px 5px;
  background-color: rgba(0, 0, 0, 0.65);
  color: #ffffff;
}

.tick {
  background-image: url('../img/tick.png');
  background-size: 1em;
  background-repeat: no-repeat;
  padding-left: 20px;
}

.aboutme span:hover {
  cursor: default;
  background-color: rgba(255, 255, 255, 0.65);
  color: #000000;
}

footer {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding: 20px;
}

footer a {
  color: #003434;
  text-decoration: none;
}